{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <img src="{{ asset('img/accueil.jpg') }}" alt="image de l'accueil" class="col-sm-6">
            <div class="col-sm-6 text-center align-content-center ">
                <img src="{{ asset('img/logo.png') }}" alt="logo" class="mb-5 pt-5">
                <h1 class="fs-4">New user</h1>

                {{ include('user/_form.html.twig') }}

                <a href="{{ path('app_login') }}">back to login</a>
            </div>
        </div>
    </div>
{% endblock %}
